@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Passion+One:wght@900&display=swap');

/* Digital Business Card Page */

/* Form Section */
.form-section {
    display: flex;
    flex-direction: column; /*added*/

    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    word-wrap: break-word;
    background: #FFFBE9;
    
    height: auto;
}

.form-container {
    width: 90%;
    height: 90%;
    padding: 1rem;
    background: #F0ECFF;
    border: 0.5rem #FFE678 solid;
    border-radius: 2rem;
}

.form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-top-container {
    display: flex;
    flex-direction: column;
}
.form-title {
    font-weight: 700;
    letter-spacing: 0.125rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.form-button {
    padding: 0.25rem;
    margin: 0rem 0.25rem;
    background-color: #E4E0FD;
    border: 0.1rem solid #6359A2;
    border-radius: 1rem;
}

.form-image {
    width: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.form-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.form-scroll {
    height: 80%;
    overflow-y: scroll;

}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.form__item {
    margin: 0.25rem;
    padding: 0.25rem;
    background: rgba(216, 207, 250, 0.5);
    border: 0.1rem dashed rgba(160, 135, 254, 0.5);
    border-radius: 1rem;
}

.column-2 {
    grid-column: 1 / span 2;
}

.form__item label {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-decoration: underline;
}

.form__item input, .form__item textarea {
    font-family: "Oswald", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
    border: 0.05rem lightseagreen solid;
    border-radius: 1rem;
}

.form__item input:focus, .form__item textarea:focus {
    outline: none;
    border: 0.05rem lightseagreen solid;
    border-radius: 1rem;
    background: #e2fdfc;
}

.submit-button {
    width: 100%;
    margin: 0.5rem 0rem;

    font-size: 1.15rem;
    font-weight: 700;

    background: #e0d9ff;
    border:0.1rem solid rgb(193, 177, 254);
    border-radius: 1rem;
}

.submit-button:hover:enabled {
    background: #d2c7ff;
}


/* Card Section */
.card-section {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    background: #F0ECFF;
}

.card {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Oswald', sans-serif;

    height: auto;
    max-height: 90%;
    overflow-y: hidden;

    background: #272727e6;
    border: 0.25rem #A087FE solid;
    border-radius: 1.5rem;
    padding: 2rem 3rem;
    margin: 2rem;
}


/* ---Information Component--- */
.info {
    text-align: center;
}

.info__image {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}

.info__name {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

.info__position {
    color: #d7c844;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.5;
    padding-bottom: 0.25rem;
    margin: 0;
}

.info__personal-link {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: -1;
    padding-bottom: 0.25rem;
    margin: 0;
}

.info__personal-enabled, .info__personal-enabled:hover, .info__personal-enabled:visited {
    text-decoration: none;
    color: white;
}

.info__personal-disabled {
    pointer-events: none;
}

.btn-box {
    display: flex;
    justify-content: space-around;
}

.btn-box__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.1rem;

    border: 0.1rem black solid;
    border-radius: 0.5rem;
    outline: none;
    overflow: hidden;
    
    background: rgb(69, 156, 209);
    cursor: pointer;
    transition: 0.5s;

}

.btn-box__button:hover {
    background: rgb(54, 120, 161);
    transition: 0.5s;
}

.btn-box__button span {
    color: whitesmoke;
    font-family: 'Passion', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    -webkit-text-stroke: 0.05rem black;
}

.btn-box__img {
    height: 100%;
    font-size: 1.25rem;
    vertical-align: middle;
    padding: 0rem 0.05rem;
}


/* ---About Component--- */
.description h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    margin: 0.25rem 0rem;
    padding: 0rem;
}
  
.description p {
    font-size: 0.75rem;
    margin: 0rem;
    padding: 0rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* ---Footer Component--- */
/* Footer Section*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.75rem;
}
  
.footer__icon {
    height: 2.5rem;
    border: 0.25rem white solid;
    border-radius: 1.5rem;
}

/* Form Checkbox */
.check__container {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check__container span {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-decoration: underline;
}
  
 /* Hide the browser's default checkbox */
.check__box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.check__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    border: 0.1rem solid black;
}
  
  /* On mouse-over, add a grey background color */
.check__container:hover span {
    color: rgb(115, 96, 184);
}

.check__container:hover input ~ .check__checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.check__container input:checked ~ .check__checkmark {
    background-color: rgba(160, 135, 254, 0.75);
}

/* Show the checkmark when checked */
.check__container input:checked ~ .check__checkmark:after {
    display: block;
}
  
