@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.home-page {
    position: absolute;
    width: 100%;
    height: auto;
    font-family: "Roboto Serif", sans-serif;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='103' height='103' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='%232a4365'/%3E%3Cpath d='M-10 14h60v4h-60z' fill='%231a202c' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-10 54h60v4h-60z' fill='%231a202c' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-10 26h60v8h-60z' fill='%23ecc94b' filter='url(%23filter-doodad-2)'/%3E%3Cpath d='M26-10v60h8v-60z' fill='%23ecc94b' filter='url(%23filter-doodad-2)'/%3E%3Cpath d='M8-10v60h4v-60z' fill='%231a202c' filter='url(%23filter-doodad-1)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.5' numOctaves='2' type='fractalNoise' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='9' result='result2' xChannelSelector='R' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='fbSourceGraphic'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.5 0.01' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='11' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dy='-1.1'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.home-container {
    height: auto;
    padding: 2rem;
    margin: 2rem 4rem;
    background-color: rgba(255, 255, 255, 0.95);
    border: 0.1rem solid black;
    border-radius: 2rem;
}

.home-introduction {
    background-color: white;
    border: 0.1rem solid rgba(211, 211, 211, 0.66);
    border-radius: 1rem;
    padding: 0.5rem;
}

.home-link {
    color: darkcyan;
    font-weight: 700;
}

.project-cards {
    width: 100%;
    display: flex;
    margin: 1rem 0rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 3rem rgba(211, 211, 211, 0.66), 0 0 3rem lightgray;
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-dots {
    background: rgba(240, 248, 255, 0.451);
    padding: 0.1rem;
}

.card__container {
    display: flex;
    padding: 0.5rem;
    margin: 0rem 0.5rem;
    user-select:none;
}

.card {
    width: 20rem !important;
    border: none;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem lightgray;
}

.card:hover {
    box-shadow: 0rem 0rem 2rem gray;
}

.card__image-container {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card__image {
    width: 100%;
    height: 12rem;
    transition: 1s;
}

.card__image-container:hover .card__image {
    filter: brightness(75%);
    transform: scale(1.2);
    transition: 1s;
}

.card__image-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-family: "Neucha", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-shadow: 0.2rem 0.2rem rgba(255, 255, 255, 0.25), 
        0.1rem 0.1rem rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: 1s;
}

.card__image-container:hover .card__image-text {
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    transition: 1s;
}

.card__body {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -0.1rem;
    margin: 0;
}

.card__subtitle {
    color: slategray;
    font-size: 1.25rem;
    text-decoration: underline;
}

.card__text {
    margin-top: 0.25rem;
    text-align: justify;
}

.card__button {
    margin-top: auto;
    display: block;
    transition: 0.5s;
}

.card__button-text {
    font-family: "Passion One", sans-serif;
    font-size: 1.5rem;
    transition: 0.5s;
}

.card__button:hover .card__button-text {
    letter-spacing: 0.1rem;
    transition: 0.5s;
}
