@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');

.home-page {
    font-family: "Roboto Serif", sans-serif;
}

.project-cards {
    display: flex;
    margin: 1rem 2rem;
    padding: 1.5rem 2rem;
    overflow-x: scroll;
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0 0 3rem rgba(211, 211, 211, 0.66), 0 0 3rem lightgray;
}

.card__container {
    display: flex;
    padding: 0.5rem;
    margin: 0rem 0.5rem;
}

.card {
    width: 20rem !important;
    border: none;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem lightgray;
}

.card:hover {
    box-shadow: 0rem 0rem 2rem gray;
}

.card__image {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    height: 12rem;
    transition: 0.5s;
}

.card__link-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    display: none;
}

.card__link:hover .card__link-icon {
    display: block;
}

.card__image:hover {
    transition: 0.5s;
}

.card__body {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: 700;
    font-size: 2rem;
}


.card__button {
    margin-top: auto;
    display: block;
    transition: 1.5s;

    font-family: "Passion One", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.card__button:hover {
    transform: scale(1.1);
    transition: 1.5s;
}


