@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&family=Poppins:wght@300;400;700&display=swap');

@value values: "./colors.css";
@value joke-btn, dm-bg from values;

/* Jokes Page*/
.jokes-page {
    font-family: "Poppins", sans-serif;
    height: auto;
}

.jokes-page__lm {
    background: linear-gradient(rgba(182,199,226,1), white);
}

.jokes-page__dm {
    background: linear-gradient(black, rgba(32,45,58,1), rgba(90,92,106,1), white);
}

.jokes-page__body {
    display: flex;
    margin-bottom: 5rem;
}

.jokes {
    display: flex;
    width: 78%;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Navbar Component */
.nav {
    margin: 0;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.15rem;
}

.nav-title {
    display: flex;
    align-items: center;
    margin: 0.5rem 3rem;
}

.nav-title__icon {
    height: 2.5rem;
    margin-right: 0.75rem;
}

.nav-title__text {
    font-size: 2rem !important;
    font-weight: 700;
}

.nav-switch {
    margin: 0.5rem 3rem;
    display: flex;
    justify-content: center;
}

.nav-switch__text {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.dm-nav {
    color: white;
}

.lm-nav {
    color: black;
}

/* Filter Component */
.filter__container {
    width: 22%;
}

.lm-filter {
    background: linear-gradient(rgb(236, 236, 236), whitesmoke, white);
    color: black;
    border: 0.2rem solid darkslategray;
}

.dm-filter {
    background: linear-gradient(black, rgba(32,45,58,1), rgba(90,92,106,1));
    color: white;
    border: 0.2rem solid darkslategray;
}

.filter {
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    height: 95vh;
    
    margin: 0.5rem; 
    padding: 1.5rem;
    border-radius: 1rem;
}


.filter__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 0.25rem;
}

.filter-type {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: underline;
}

.filter-span {
    display:block;
    padding: 0.25rem 0rem 0rem 0rem;
}




/* Joke Component */
.joke__container {
    width: 30%;
    height: auto;
}

.joke {
    margin: 1rem 0rem 0rem 0.5rem;
    padding: 0.75rem;
}

.joke-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.joke-title__text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: underline;

    display: flex;
    margin: auto 0;
    padding-bottom: 0.75rem;
}

.joke-title__btn {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    width: 50%;
    transition: 0.7s !important;
}

.joke-body {
    margin: 0 !important;
    padding: 0 !important;
}

/* The Joke Itself */
.joke-body__setup {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 0.25rem;
}

.joke-body__punchline {
    font-size: 1rem;
    border: 0.1rem solid darkgray;
    border-radius: 1rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.192);
    opacity: 0;
    transition: 0.5s;
}

.joke-body__punchline-show {
    opacity: 1;
    transition: 0.5s;
}


/* Joke Upvotes and Downvotes */
.joke-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    -webkit-text-stroke: 0.5px black;
    letter-spacing: 0.075rem;
}

.joke-vote span {
    padding-right: 0.75rem;
}

.joke-vote span img {
    height: 1rem;
    padding-right: 0.5rem;
}

.upvotes {
    color: green;
}

.downvotes {
    color: red;
}


/* Dark Mode Toggler */
.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 0.1rem #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 50%;
}