@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Righteous&display=swap');

@value values: "./colors.css";
@value rf-black, rf-white, rf-d-blue, rf-l-blue, rf-d-toggler-txt, rf-l-toggler-txt from values;

/* ---React Facts Page Body--- */
.body {
    min-height: 100vh;
    height: 100%;
    font-family: "Inter", sans-serif;
}

.body__dark {
    background-color: rf-black;
    color: rf-white;
}

.body__light {
    background-color: rf-white;
    color: rf-black;
}

/* ---Navbar Component--- */
.nav {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    z-index: 1;
}

.nav__dark {
    background-color: #21222A;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.nav__light {
    background-color: #e7e7e7;
    box-shadow: 0px 0.5rem 2rem rgba(111, 111, 111, 0.25);
}

.nav__logo {
    width: 3rem;
    margin-right: 1rem;
}

.nav__title {
    margin: 0;
    font-size: 2rem;
    margin-right: auto;
}

.nav__title-dark {
    color: rf-l-blue;
}

.nav__title-light {
    color: rf-d-blue;
}

/* Light/Dark Mode Toggler */
.toggler {
    display: flex;
    align-items: center;
}

.toggler__text {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0.5rem;
}

.toggler__dark .toggler__text-dark {
    color: rf-d-toggler-txt;
}

.toggler__light .toggler__text-light {
    color: rf-l-toggler-txt;
}

.toggler__text-underline {
    font-weight: 700;
    text-decoration: underline;
}

.toggler__slider {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    
    margin-inline: 0.5rem;
    border-radius: 2rem;
    box-sizing: content-box;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rf-black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


/* ---Main Content Component--- */
.main {
    flex: 1 1 auto;
    padding: 3rem 2rem;
    background: url("/public/images/ReactFacts/react-logo-side.png") no-repeat right center;
    background-size: 15rem;
}

.main__title {
    margin: 0;
    font-size: 4rem;
    letter-spacing: -0.05em;
}

.main__facts li {
    font-size: 1.25rem;
    padding-block: 0.5rem;
}

.main__facts li::marker {
    font-size: 2rem;
}

.main__dark .main__facts li::marker {
    color: rf-l-blue;
}

.main__light .main__facts li::marker {
    color: rf-d-blue;
}

